@import url(style/fonts.css);
@import url(style/eye_style.css);

body, html {
    height: 100%;
    background: linear-gradient(to right, #5f349a,#5e79b8);
}

.main-menu_item{
    border-radius: 50%;
    padding: 20px;
    background-color: whitesmoke;
    margin-left: 100%;
    transform: none;
}